<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="description" content="">
	<meta name="author" content="">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97825606-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-97825606-2');
	</script>
	<link rel="shortcut icon" href="assets/images/ico/favicon.ico">

	<link rel="stylesheet" href="assets/css/simple-grid.css">
	<link rel="stylesheet" href="assets/css/main.css">
	
	<script src="assets/js/modernizr.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
<div id="home" class="wrapper home">
	<nav class="main-menu">
		<div class="brand">
			<img src="./assets/images/brand-full-flat.svg" alt="GlobeSynth Pharma Tech">
		</div>
		<div class="navbar">
			<div class="navbar-in">
				<ul class="nav">
					<li><a href="#about">About Us</a></li>
					<li><a href="#team">Team</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
				<ul>
					<li onclick="openEnquiry()"><a href="javascript:void(0);" class="btn">Make an Enquiry</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="vertical-center">
			<div class="col-6 content">
				<h1>The world’s best Research &amp; Development</h1>
				<h3>Specialized in the Synthesis of Pharmaceutical Impurity Reference Standards, API Impurities and execution of pharmaceutical development and product launch</h3>
			</div>
			<div class="col-6">&nbsp;
			</div>
		</div>
	</div>

	<svg class="mouse-scroll" width="24px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
		<path id="wheel" class="mousewheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#fff;stroke-width:20px;"/>
		<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#fff;stroke-width:20px;"/>
	</svg>
</div>
<nav class="main-menu">
	<div class="brand">
		<img src="./assets/images/brand-full.svg" alt="GlobeSynth Pharma Tech">
	</div>
	<div class="navbar">
		<div class="navbar-in">
			<ul class="nav">
				<li><a href="#about">About Us</a></li>
				<li><a href="#team">Team</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#contact">Contact Us</a></li>
			</ul>
			<ul>
				<li onclick="openEnquiry()"><a href="javascript:void(0);" class="btn">Make an Enquiry</a></li>
			</ul>
		</div>
	</div>
</nav>
<div id="about" class="wrapper page about">
	<div class="container">
		<div class="row main-section">
			<div class="col-6">
				<img src="./assets/images/irs.png" alt="About Us">
			</div>
			<div class="col-6">
				<h2 class="page-title">About Us</h2>
				<p>GlobeSynth Pharma Tech is a CRO based company located in Salem, Tamilnadu, India. GSPT is a team chemists are well experienced with Ph.D. / M.Sc. degree.</p>
				<p>We are expert in providing complex chemistry solutions to our customers from areas such as Pharmaceutical Impurity Reference Standards (Pharmacopeial and non-Pharmacopeial) , Process Impurities, API impurities, Degradation Impurities, Potential Impurities, Building Blocks, metabolites of active ingredients and excipients, Medicinal Discovery Chemistry, Custom Synthesis, Materials Chemistry, Library Design and Synthesis, Chiral Synthesis, Peptide Synthesis, Nucleic Acids Chemistry and Process Chemistry. Additionally we provide the accommodation of DMF Filling, Analytical Method Development and Validation to avail customers on Analytical quandary solving activities.</p>
				<div class="margin32">
					<button class="btn lg"><span><i>&nbsp;</i>Download E-Brochure</span></button> <button class="btn lg secondary"><span><i>&nbsp;</i>Download COA</span></button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row-inner item-list">
				<div class="item">
					<div class="item-header">
						<img src="./assets/images/vision.svg" alt="Vision">
						<h4 class="">Our Vision</h4>
					</div>
					<div class="item-content">
						<p>"To become leading global Impurity Reference Standard Company and one among the top 10 by 2022" and mainly focus on sustainable and profitable growth to achieve our target customers are, India, US and Europe based markets.</p>
					</div>
				</div>
				<div class="item">
					<div class="item-header">
						<img src="./assets/images/mission.svg" alt="Mission">
						<h4 class="">Our Mission</h4>
					</div>
					<div class="item-content">
						<p>Our main mission to help our clients will be the Active Pharmaceutical ingredients manufacturers who are willing to procure reference standards and intermediates which is either pharmacopeia or non-pharmacopeia with high quality standards of Data carrying Certificate of Analysis as per Standards.</p>
					</div>
				</div>
				<div class="item">
					<div class="item-header">
						<img src="./assets/images/values.svg" alt="Values">
						<h4 class="">Our Values</h4>
					</div>
					<div class="item-content">
						<ul>
							<li>Honesty, integrity and transparency</li>
							<li>Innovate everywhere</li>
							<li>Creativity driven by diversity</li>
							<li>Uncompromising quality</li>
							<li>Committed to our customers</li>
							<li>Customers confidentiality will be maintain strictly</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="team" class="wrapper page team">
	<div class="container">
		<div class="row">
			<div class="col-8">
				<h2>Team</h2>
				<p>The leadership team has more than seventeen years of drug development, Impurity Reference Standards, Contract Research and Manufacturing Services, API intermediates, Analytical method development, Validation and regulatory filing experience drawn from various well known reputed pharmaceutical companies.</p>

				<p>GSPT also maintains a senior advisory committee, having very depth knowledge expanding their depth of expertise in pharmaceutical product development.</p>
			</div>
		</div>
	</div>
</div>

<div id="services" class="wrapper page services">
	<div class="container">
		<!-- <div class="page-header">
			<h1>Services</h1>
		</div> -->
		<div class="row">
			<div class="tabs">
				<input type="radio" id="tab1" name="tab-control" checked>
				<input type="radio" id="tab2" name="tab-control">
				<input type="radio" id="tab3" name="tab-control">
				<ul class="tabs-nav">
					<li><label for="tab1" role="button"><span>Synthesis Services</span></label></li>
					<li><label for="tab2" role="button"><span>Analytical Services</span></label></li>
					<li><label for="tab3" role="button"><span>Quality &amp; Reliability</span></label></li>
				</ul>
				<div class="content">
					<section>
						<p>We are manufacturing impurity Reference Standards in mg to gm level. We additionally do Custom synthesis of complex organic molecules as per customer requirement with cost effectiveness. Our Custom Synthesis services are,</p>
						<ul>
							<li>Pharmaceutical Impurities Reference Standards</li>
							<li>Custom Synthesis of Impurities (mg to gm)</li>
							<li>Drug Metabolites, Photochemical & Gluconorides</li>
							<li>Custom Synthesis of complex organic molecules</li>
							<li>Large Scale API intermediates & Fine Chemicals</li>
							<li>API products from milligram to Kilo gram quantities</li>
							<li>Stable Isotope Labelled Products Isolation & Structure Elucidation of Unknown Impurities</li>
							<li>Computation evaluation of Genotoxic impurities</li>
							<li>New NDDS molecules & Traceable Working Standards</li>
							<li>Process related impurities Degradation Products</li>
							<li>Contract Research Services</li>
							<li>API route scouting & process development</li>
							<li>Isolation Purification of known and unknown Impurity from APIs and Drug products</li>
						</ul>
					</section>
					<section>
						<div class="col-6">
							<ul>
								<li>DMF Filling</li>
								<li><span>Analytical Method Development and Validation Services.</span>
									<p>Method validations are performed to meet current ICH (International Conference on Harmonisation) guidelines. We can develop and write the protocol for method validations and protocols are developed and experiments are executed to FDA/ICH guidelines for method validation.</p>
								</li>
								<li><span>Analytical problem solving activities</span>
									<p>We followed Standard operating procedures (pharmacopoeial known method) are prepared and methods transferred to client laboratories, in case method is unknown we developed in-house method which relates with parent molecule by literature search or on the basis of customer method (Vendor qualification on MOU basis).</p>

									<p>Analytical problem solving activities include identification of unknown peaks, evaluation of methods with exceipient products or processes and investigation of more expeditious and simpler analytical alternatives. The same implements are frequently used to troubleshoot processes, development and manufacturing a Compliance Analytical Lab.</p>
								</li>
							</ul>
						</div>
						<div class="col-6 center">
							
						</div>
					</section>
					<section>
						<div class="col-6">
							<p>GlobeSynth Pharma Tech standards understand the industry’s need for quality and reliability. Our analytical standards are thoroughly characterised and prepared in accordance with a robust quality system. We not only meet, but surpass the exacting pharmaceutical manufacturing standards necessary for the success of your project.</p>
						</div>
						<div class="col-6 center">
							
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="contact" class="wrapper contact">
	<div class="split">
		<div class="col">
			<form class="form index-form">
				<h5>Feedback / Suggestion / Comments</h5>
				<div class="fieldset">
					<input id="indexName" name="name" type="text" placeholder="Name" >
				</div>
				<div class="fieldset">
					<input id="indexCompany" name="companyName" type="text" placeholder="Company Name">
				</div>
				<div class="fieldset">
					<input id="indexEmail" name="email" type="text" placeholder="Email">
				</div>
				<div class="fieldset">
					<input id="indexContact" name="contactNumber" type="text" placeholder="Contact No">
				</div>
				<div class="fieldset">
					<textarea id="indexMessage" name="message" placeholder="Message" maxlength="140"></textarea>
				</div>
				<div class="right" style="margin-top: 16px">
					<button class="btn index-form-btn"><span>Submit</span></button>
				</div>
			</form>
		</div>
		<div class="col">
			<div class="dummy">
				<h3>GlobeSynth Pharma Tech</h3>
			</div>
			<div class="dummy">
				<div id="map"></div>
			</div>
			<div class="dummy">
				<p class="title address">Address</p>
				<p class="detail">4/155 Soolaimedu, Uthamacholapuram,<br>Salem 636010, Tamilnadu, India</p>
			</div>
			<div class="dummy">
				<p class="title phone">Phone</p>
				<p class="detail">+91 8283085118,<br>+91 9115796473</p>
			</div>
			<div class="dummy">
				<p class="title email">Email</p>
				<p class="detail"><a href="mailto:contact@gspharma.tech" title="email">contact@gspharma.tech</a><br><a href="mailto:info@gspharma.tech" title="email">info@gspharma.tech</a></p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="copyright">
		<div class="row center">
			<div class="">©️ All rights reserved by <a href="javascript:void(0);">GlobeSynth Pharma Tech</a>, 2018</div>
		</div>
	</div>
</div>

<div id="myOverlay1" class="modal">
	<div class="overlay"></div>
	<div class="overlay-content">
		<span class="closebtn" onclick="closeEnquiry()" title="Close Overlay">x</span>
		<form action="" class="form enquiry-form validate-form modal-form">
			<h4>Make an Enquiry</h4>
			<div class="fieldset">
				<input id="modalName" type="text" placeholder="Name" name="name">
			</div>
			<div class="fieldset">
				<input id="modalCompany" type="text" placeholder="Company Name">
			</div>
			<div class="fieldset">
				<input id="modalEmail" type="text" placeholder="Email" name="email" name="companyName">
			</div>
			<div class="fieldset">
				<input id="modalContact" type="text" placeholder="Contact No"  name="contactNumber">
			</div>
			<div class="fieldset">
				<input type="file" name="file" data-max-size="1024" accept="image/x-png,image/gif,image/jpeg"  placeholder="Choose a File">
			</div>
			<div class="fieldset">
				<textarea id="modalMessage" name="message" placeholder="Message" maxlength="140"></textarea>
			</div>
			<div class="right" style="margin-top: 16px">
				<button class="btn enquiry-form-btn"><span>Submit</span></button>
			</div>
		</form>
	</div>
</div>

<div id="myOverlay" class="modal">
	<div class="overlay"></div>
	<div class="overlay-content">
		<span class="closebtn" onclick="closeProduct()" title="Close Overlay">x</span>
		<div class="prod-detail">
			<div class="col-6">
				<h4>2-[(4-Acetylphenyl)methyl] cyclopentan-1-one</h4>
				<p>Product Id: L-601</p>
				<div class="image-holder">
					<img src="./assets/images/products/5.png" alt="Vision">
				</div>
			</div>
			<div class="col-6 right-col">
				<div class="row">
					<div class="col-12">
						<span>Chemical Name:</span>
						<p>2-[(4-Acetylphenyl)methyl]cyclopentan-1-one</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<span>Catalogue Name:</span>
						<p>2-[(4-Acetylphenyl)methyl]cyclopentan-1-one</p>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<span>Cat No:</span>
						<p>54.LOO.34</p>
					</div>
					<div class="col-6">
						<span>Cas No:</span>
						<p>96824-28-1</p>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<span>Molecular Formula:</span>
						<p>C14H16O2</p>
					</div>
					<div class="col-6">
						<span>Molecular Weight:</span>
						<p>216.28</p>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<span>Purity:</span>
						<p>≥95%</p>
					</div>
					<div class="col-6">
						<span>Appearance:</span>
						<p>NA</p>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<span>Storage:</span>
						<p>NA</p>
					</div>
					<div class="col-6">
						<span>Price:</span>
						<p>Availability</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="assets/js/jquery.2.2.4.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/main.js"></script>

<script type="text/javascript">
	var x, i, j, selElmnt, a, b, c;
	x = document.getElementsByClassName("custom-select");
	for (i = 0; i < x.length; i++) {
		selElmnt = x[i].getElementsByTagName("select")[0];
		a = document.createElement("DIV");
		a.setAttribute("class", "select-selected");
		a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
		x[i].appendChild(a);
		b = document.createElement("DIV");
		b.setAttribute("class", "select-items select-hide");
		for (j = 0; j < selElmnt.length; j++) {
			c = document.createElement("DIV");
			c.innerHTML = selElmnt.options[j].innerHTML;
			c.addEventListener("click", function(e) {
				var y, i, k, s, h;
				s = this.parentNode.parentNode.getElementsByTagName("select")[0];
				h = this.parentNode.previousSibling;
				for (i = 0; i < s.length; i++) {
					if (s.options[i].innerHTML == this.innerHTML) {
						s.selectedIndex = i;
						h.innerHTML = this.innerHTML;
						y = this.parentNode.getElementsByClassName("same-as-selected");
						for (k = 0; k < y.length; k++) {
							y[k].removeAttribute("class");
						}
						this.setAttribute("class", "same-as-selected");
						break;
					}
				}
				h.click();
			});

			b.appendChild(c);
		}

		x[i].appendChild(b);

		a.addEventListener("click", function(e) {
			e.stopPropagation();
			closeAllSelect(this);
			this.nextSibling.classList.toggle("select-hide");
			this.classList.toggle("select-arrow-active");
		});
	}

	function closeAllSelect(elmnt) {
		var x, y, i, arrNo = [];
		x = document.getElementsByClassName("select-items");
		y = document.getElementsByClassName("select-selected");
			for (i = 0; i < y.length; i++) {
				if (elmnt == y[i]) {
				arrNo.push(i)
			} else {
				y[i].classList.remove("select-arrow-active");
			}
		}
		for (i = 0; i < x.length; i++) {
			if (arrNo.indexOf(i)) {
				x[i].classList.add("select-hide");
			}
		}
	}

	document.addEventListener("click", closeAllSelect);
</script>


<script type="text/javascript">
	function openProduct() {
		document.getElementById("myOverlay").style.display = "block";
	} 
	function closeProduct() {
		document.getElementById("myOverlay").style.display = "none";
	}

	function openEnquiry() {
		document.getElementById("myOverlay1").style.display = "block";
	} 
	function closeEnquiry() {
		document.getElementById("myOverlay1").style.display = "none";
	}
</script>
<script src="js/main.js"></script>
</body>
</html>