
<div>
<label>Product Title</label>
<input type="text" placeholder="Product Title">
</div>
<div>
<label>Product Description</label>
<input type="text" placeholder="Product Description">
</div>
<div>
<label>Cat No.</label>
<input type="text" placeholder="Cat No.">
</div>
<div>
<label>Cas No.</label>
<input type="text" placeholder="Cas No.">
</div>
<div>
<label>Structure File</label>
<input type="file" name="fileupload" value="fileupload">
</div>
<div>
<label>Molecular Formula</label>
<input type="text" placeholder="Molecular Formula">
</div>
<div>
<label>Category</label>
<select>
	<option>Category</option>
</select>
</div>
<div>
<label>Formula Weight</label>
<input type="text" placeholder="Ex: 1mg">
<select>
	<option>MG</option>
	<option>KG</option>
</select>
</div>
<div>
<label>Chemical Name</label>
<input type="text" placeholder="Chemical Name">
</div>

<!-- <div [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
<button (click)="print()">Check</button>
<div [innerHTML]="printContent"></div> -->